#about_area{
  .about_numbers{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .child_about{
      flex-basis: 45%;
      text-align: center;
      background: $bgColor;
      padding: 40px;
      border-radius: 10px;
      margin-bottom: 25px;
      h4{
        color: $bkColor;
        margin: 0;
        font: {
          size: 45px;
          weight:$fontWxl;
        }
      }
       h6{
        color: $bkColor;
        font: {
          size: 16px;
          weight:$fontWmd;
        }
        line-height: 1em;
        margin: 0;
      }
    }
  }
  .about_infou{
    flex-basis: 46%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h3{
      color: $bkColor;
      line-height: 1em;
      font: {
        size:35px;
        weight:$fontWxl;
      }
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    h6{
      color: $bkColor;
      line-height: 1em;
      font: {
        size:20px;
        weight:$fontWxl;
      }
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
}